*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Manrope", sans-serif;
}
:root {
  --primary: #39b34a;
  --background: #f8f8f8;
  --secondery: #fef7f5;
  --white: #ffffff;
  --fontColor: #1d1d35;
  --icon: #39b34a;
}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
*{
	font-family: 'Comfortaa', cursive;
}

.container{
	max-width: 1200px;
    padding: 10px;
	margin: 0 auto;
}

.container > h1{
	padding: 20px 0;
}

.cart{

	display: flex;

}

.products{
	flex: 0.75;
}

.product{

	display: flex;
	width: 100%;
	height: 200px;
	overflow: hidden;
	border: 1px solid silver;
	margin-bottom: 20px;
}

.product:hover{
	border: none;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	transform: scale(1.01);
}

.product > img{
	width: 300px;
	height: 200px;
	object-fit: cover;
}

.product > img:hover{
	transform: scale(1.04);
}

.product-info{
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
	justify-content: center;
	align-items: center;

}
.qun{
	display: flex;
	justify-content: space-between;
	font-size: large;
	width: 5rem;
}
.qun ion-icon{
color: var(--icon);

}

.product-name, .product-price, .data{

	margin-bottom: 20px;

}

.product-remove{
align-self: flex-end;
	padding: 10px 25px;
	background-color: var(--primary);
	color: white;
	cursor: pointer;
	border-radius: 5px;

}

.product-remove:hover{
	background-color: white;
	color: green;
	font-weight: 600;
	border: 1px solid green;
}

.product-quantity > input{
	width: 40px;
	padding: 5px;
	text-align: center;
}

.fa{
	margin-right: 5px;
}

.cart-total{
	flex: 0.25;
	margin-left: 20px;
	padding: 20px;
	height: 240px;
	border: 1px solid silver;
	border-radius: 5px;
}

.cart-total p{
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	font-size: 20px;
}

.cart-total a{
	display: block;
	text-align: center;
	height: 40px;
	line-height: 40px;
	background-color: tomato;
	color: white;
	text-decoration: none;
}

.cart-total a:hover{
	background-color: red;
}

@media (max-width: 900px) {
	.container{
		max-width: 95%;
	}
	/* .cart{
		flex-wrap: wrap;
		flex-direction: column;
	} */

}
@media(max-width: 767px){
	.cart{
		flex-direction: column;
		flex-wrap: wrap;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.products {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		
	}
	.product{
		height: 20%;
	}
	.cart-total{
		margin-left: 0;
		margin-bottom: 20px;
	}
.product-remove{
	align-self: center;
	margin-top: 20px;
}
}