:root {
  --primary: #39b34a;
  --background: #f8f8f8;
  --secondery: #fef7f5;
  --white: #ffffff;
  --fontColor: #1d1d35;
  --icon: #39b34a;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Manrope", sans-serif;
  background-color: var(--background);
}

p,
div {
  margin: 0;
}

li,
ul,
ol {
  list-style: none;
}

select,
button,
textarea,
input,
button:focus,
input:focus,
textarea:focus {
  outline: none;
  border: none;
}

i {
  color: var(--icon);
  font-size: 1.4rem;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 0.8vw;
}
::-webkit-scrollbar-track {
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}
/* NAVBAR */

.navbar {
  background-color: var(--white);
  border-bottom: 1px solid #caddcc;
  width: 100%;
  padding: 0 50px;
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  height: 10vh;
}

.navbar-content {
  flex: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.search-container {
  flex: 60%;
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  overflow: hidden;
  padding-left: 15px;
}

.search-container .fa-search {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}

.search-input {
  width: 100%;
  padding: 10px 40px;
  background-color: var(--background);
  font-size: 16px;
  border-radius: 8px;
}

.search-input::placeholder {
  font-size: 16px;
  line-height: 19px;
  counter-reset: #1d1d35;
  padding: 10px 0;
}

.btn-container {
  flex: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-buyer,
.btn-seller {
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 12px 60px;
  font-size: 16px;
  border-radius: 16px;
  font-style: normal;
  font-weight: 500;
  margin: 0 5px;
  color: var(--primary);
  background: var(--white);
  font-family: "Manrope", sans-serif;
}

.btn-active {
  color: var(--white);
  background: var(--primary);
  border: 1px solid var(--primary) !important;
}

.btn-buyer:hover,
.btn-seller:hover {
  filter: brightness(94%);
}

/* For Add Product Section*/
.modal-create-product {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  height: 70vh;
  transition: all 0.5s ease-in-out;
  margin: 0px 50px 30px 50px;
}

.modal-product-content {
  background-color: var(--white);
  position: absolute;
  border-radius: 8px;
  margin: 0px 15px;
  padding: 20px 30px;
  top: 15vh;
  width: 380px;
  border: 1px solid #a7c4aa;
}

.modal-product-content .fa-times {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 16px;
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.modal-product-content .fa-times:hover {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.add-product-title {
  margin: 15px auto 5px auto;
}

.add-product-content {
  width: 100%;
}

.product-form-input {
  display: flex;
  flex-direction: column;
  margin: 20px auto 25px auto;
}

.product-form-input label {
  font-size: 18px;
  line-height: 21px;
  color: #1d1d35;
  margin-bottom: 3px;
}

.product-form-input .name-input,
.detail-input,
.product-form-input .category-input {
  background: #f8f8f8;
  border-radius: 12px;
  padding: 15px 10px;
  font-size: 16px;
  line-height: 20px;
  color: #16171a;
}
.image-url,
.product-price {
  position: relative;
}
.image-url .fa-link,
.product-price .fa-dollar-sign {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  background: #f2f2f2;
  border-radius: 12px;
  padding: 15px;
  width: 40px;
  text-align: center;
}

.image-url-input,
.price-input {
  width: 100%;
  background: #f8f8f8;
  border-radius: 12px;
  padding: 15px 10px 15px 50px;
  font-size: 16px;
  line-height: 20px;
  color: #16171a;
}

.btn-product {
  display: block;
  width: 100%;
  text-align: center;
  background: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  padding: 10px 0;
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
}

.btn-product:hover {
  background: var(--white);
  border: 1px solid var(--primary);
  color: var(--primary);
}

/* MAIN SECTION */
.container {
  position: absolute;
  left: 500px;
  top: 12vh;
  width: 60%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.some-fun {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select {
  background-color: var(--white);
  width: 130px;
  height: 50px;
  margin-right: 15px;
  border-radius: 8px;
  padding: 0 15px;
  appearance: none;
  cursor: pointer;
}

.filter-sort {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.for-arrow {
  position: relative;
}

.arrow {
  content: "";
  position: absolute;
  top: 18px;
  left: 100px;
  font-size: 15px;
  pointer-events: none;
}

.list-grid {
  background-color: var(--white);
  border-radius: 8px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 15px;
  margin-left: 15px;
}

.btn {
  background-color: var(--white);
  height: 50px;
  cursor: pointer;
}

.wrap-btn-view {
  display: flex;
  align-items: center;
}

.btn-add {
  border-radius: 8px;
  width: 130px;
  color: var(--white);
  background-color: var(--primary);
}

.grid i:hover,
.list i:hover {
  filter: brightness(70%);
}

.btn-add:hover {
  filter: brightness(90%);
}

select:hover {
  border: 1px solid var(--icon);
}

.active {
  color: var(--primary);
}

main {
  width: 100%;
}

.product-list {
  margin-top: 15px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  place-items: start;
  border-radius: 8px;
  border: 1px solid #a7c4aa;
  padding: 10px;
  margin-bottom: 30px;
}

.product-list li {
  padding: 15px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--white);
}

.emptyText {
  margin-top: 150px;
  font-size: 30px;
  color: var(--primary);
}

.wrap-img {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.img {
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: 240px;
}

.category {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  padding: 5px 15px;
  height: 40px;
  border-radius: 50%;
  background-color: #8caf9081;
  font-size: 14px;
}

.info-product {
  margin-top: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.name-price {
  width: 80%;
}

.name {
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
}

.price {
  margin-top: 15px;
  font-size: 1.1rem;
  font-weight: 700;
}

.remove-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #8caf9081;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.remove-item:hover,
.remove-item i:hover {
  background-color: var(--primary);
  color: var(--white);
}

.edit {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  padding: 5px 15px;
  height: 40px;
  border-radius: 50%;
  background-color: #8caf9081;
  font-size: 14px;
  cursor: pointer;
}
.edit:hover,
.edit i:hover {
  background-color: var(--primary);
  color: var(--white);
}

li {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.16);
}

@media (max-width: 600px) {
}
